<div class="home-container">
  <div class="translate-header">
    <div class="left-selector">
      <nav mat-tab-nav-bar>
        <a mat-tab-link *ngFor="let l of listLeft" [active]="sourceType == l" (click)="sourceType=l">{{l}}</a>
      </nav>
    </div>
    <div class="swap-icon">
      <mat-icon aria-hidden="false" fontIcon="swap_horiz" (click)="swap()"></mat-icon>
    </div>
    <div class="right-selector">
      <nav mat-tab-nav-bar>
        <a mat-tab-link *ngFor="let l of listRight" [active]="destType == l" (click)="destType=l">{{l}}</a>
      </nav>
    </div>
  </div>
  <div class="translate-body">
    <div class="left-pane">
      <app-camera></app-camera>
    </div>
    <div class="right-pane">

    </div>
  </div>
</div>
