<div class="home-container">
  <div class="home-controls">
    <div>
      <label for="mediaPipeSwitch">Show Mediapipe Output</label>
      <mat-slide-toggle [checked]="showMediapipe" (change)="switchMediapipe($event)" id="mediaPipeSwitch"></mat-slide-toggle>
    </div>
    <div>
      <label for="predictionMode">Continuous mode</label>
      <mat-slide-toggle [checked]="singleSequenceMode" (change)="switchPredictionMode($event)" id="predictionModeSwitch"></mat-slide-toggle>
      <label for="predictionMode">Single Sign</label>
    </div>
    <div *ngIf="singleSequenceMode" class="record-button-container">
      <button mat-mini-fab color="warn" (click)="startRecord()" aria-label="record button">
      </button>
    </div>
    <button class="clear-button" mat-raised-button (click)="onClear()">Clear</button>
  </div>
  
  <div class="translate-header">
    <div class="left-selector">
      <nav mat-tab-nav-bar>
        <a mat-tab-link *ngFor="let l of listLeft" [active]="sourceType == l" (click)="setSourceType(l)">{{l}}</a>
      </nav>
    </div>
    <div class="swap-icon">
      <mat-icon aria-hidden="false" fontIcon="swap_horiz" (click)="swap()"></mat-icon>
    </div>
    <div class="right-selector">
      <nav mat-tab-nav-bar>
        <a mat-tab-link *ngFor="let l of listRight" [active]="destType == l" (click)="setDestType(l)">{{l}}</a>
      </nav>
    </div>
  </div>
  <div class="translate-body">
    <div class="left-pane">
      <ng-container #leftPane></ng-container>
    </div>
    <div class="right-pane">
      <ng-container #rightPane></ng-container>
    </div>
  </div>
</div>

<ng-template #textAreaRO>
  <textarea matInput readonly></textarea>
</ng-template>

<ng-template #textArea>
  <textarea matInput></textarea>
</ng-template>